* {
    transition: 0.10s;
}
*.dark {
    background-color: #333 !important;
    color: white !important;
    border-color: #fff !important;
}
body.dark {
    background: #444 !important;
}

*::placeholder {
    color: #ddd !important;
}

.left-bar.dark {
    background-color: #444 !important;
}
.left-bar.dark button,
.left-bar.dark button i {
    background-color: #444 !important;
}
.left-bar.dark button {
    border-top-color: #000 !important;
    border-bottom-color: #000 !important;
}